@import "tailwindcss";

@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: oklch(37% 0.013 285.805);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  /* --font-mono: var(--font-geist-mono); */
  /* --text-sm: 0.9rem; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}


@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .wrapper {
    @apply w-[92%] mx-auto md:w-[96%]
  }


  .sidebar-link {
    @apply flex gap-6 items-center justify-center text-sm font-medium capitalize cursor-pointer w-full p-[6px] md:px-3 md:justify-start
  }

  .sidebar-link:hover {
    @apply bg-slate-50 dark:bg-gray-800 rounded-lg w-full;
  }

  .sidebar-link span {
    @apply hidden md:inline-block;
  }



}